<div>
  <img src="{{book[0].volumeInfo.imageLinks.thumbnail}}"></br></br>
  <a target=_blank href="{{book[0].volumeInfo.infoLink}}">{{book[0].volumeInfo.title}}</a></br>
  {{book[0].volumeInfo.subtitle}}</br></br>
  Written by: {{book[0].volumeInfo.authors}}</br></br>
  Description: {{book[0].volumeInfo.description}}</br></br>
</div>

<div>
  <p>See also:</p>
  <a target=_blank href="{{book[1].volumeInfo.infoLink}}">{{book[1].volumeInfo.title}}</a></br>
  <a target=_blank href="{{book[2].volumeInfo.infoLink}}">{{book[2].volumeInfo.title}}</a></br>
  <a target=_blank href="{{book[3].volumeInfo.infoLink}}">{{book[3].volumeInfo.title}}</a></br>
  <a target=_blank href="{{book[4].volumeInfo.infoLink}}">{{book[4].volumeInfo.title}}</a></br>
  <a target=_blank href="{{book[5].volumeInfo.infoLink}}">{{book[5].volumeInfo.title}}</a></br>
</div>
<hr>
